<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modir.feed.talk.FeedTalkMapper">

    <insert id="insFeedTalkFirstWord">
        INSERT INTO feed_first_word(feed_id, word, sequence)
        SELECT #{feedId}, #{word}, #{sequence}
          FROM feed
         WHERE feed_id = #{feedId}
           AND `uuid` = #{uuid}
    </insert>

    <select id="selFeedTalkFirstWord">
        SELECT first_word_id AS firstWordId, word, sequence
          FROM feed_first_word
         WHERE feed_id = #{feedId}
    </select>

    <update id="updFeedTalkFirstWord">
        UPDATE feed_first_word A
         INNER JOIN feed B
            ON A.feed_id = B.feed_id
           SET word = #{word}
        WHERE first_word_id = #{firstWordId}
          AND B.`uuid` = #{uuid}
    </update>

    <delete id="delFeedTalkFirstWord">
        DELETE A
          FROM feed_first_word A
         INNER JOIN feed B
            ON A.feed_id = B.feed_id
         WHERE first_word_id = #{firstWordId}
           AND B.`uuid` = #{uuid}
    </delete>
    
    <insert id="insTalkCategory">
        INSERT INTO talk_category(feed_id, title)
        SELECT #{feedId}, #{title}
        FROM feed
        WHERE feed_id = #{feedId}
        AND `uuid` = #{uuid}
    </insert>

    <select id="selTalkCategory">
        SELECT category_id AS categoryId, title
        FROM talk_category
        WHERE feed_id = #{feedId}
    </select>

    <update id="updTalkCategory">
        UPDATE talk_category A
        INNER JOIN feed B
        ON A.feed_id = B.feed_id
        SET A.title = #{title}
        WHERE category_id = #{categoryId}
        AND B.`uuid` = #{uuid}
    </update>

    <delete id="delTalkCategory">
        DELETE A
        FROM talk_category A
        INNER JOIN feed B
        ON A.feed_id = B.feed_id
        WHERE category_id = #{categoryId}
        AND B.`uuid` = #{uuid}
    </delete>

    <insert id="insTalkAnswer" useGeneratedKeys="true" keyProperty="answerId">
        INSERT INTO talk_answer
        SET category_id = #{categoryId}
    </insert>
    
    <insert id="insAnswerPic">
        INSERT INTO answer_pic (answer_id, pic)
        VALUES
        <foreach collection="pics" item="pic" separator=",">
            (#{answerId}, #{pic})
        </foreach>
    </insert>

    <insert id="insAnswerResult">
        INSERT INTO answer_result
           SET answer_id = #{answerId}
             , result = #{result}
    </insert>

    <select id="selAnswerResult">
        SELECT A.answer_id AS answerId, B.pic, C.result
        FROM talk_answer A
        LEFT JOIN answer_pic B
        ON A.answer_id = B.answer_id
        LEFT JOIN answer_result C
        ON A.answer_id = C.answer_id
        WHERE A.category_id = #{categoryId}
    </select>

    <delete id="delAnswerResult">
        DELETE FROM talk_answer
        WHERE answer_id = #{answerId}
    </delete>
</mapper>