<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modir.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="feedId">
        INSERT INTO `feed`
        SET title = #{title},
        content = #{content},
        `uuid` = #{uuid};
    </insert>

    <!-- 전체 리스트로 불러오는거 -->
    <select id="selFeed">
        SELECT A.feed_id AS feedId, B.username, A.title, A.content
        , A.hits, A.created_at AS createdAt
        , IFNULL(COUNT(C.feed_id), 0) AS sumLike
        FROM feed A
        INNER JOIN `user` B
        ON A.`uuid` = B.`uuid`
        LEFT JOIN feed_like C
        ON A.feed_id = C.feed_id
        WHERE A.`status` = 0
        GROUP BY A.feed_id;
    </select>

    <!-- 단일 리스트로 불러오는거 -->
    <select id="selFeedDetail">
        SELECT B.username, A.title, A.`uuid`
        , A.content, A.hits
        , A.created_at AS createdAt
        , IFNULL(COUNT(C.feed_id), 0) AS sumLike
        , IF(EXISTS (
        SELECT 1
        FROM feed_like FL
        WHERE FL.feed_id = A.feed_id
        AND FL.uuid = #{uuid}
        ), 1, 0) AS status
        FROM feed A
        INNER JOIN `user` B
        ON A.`uuid` = B.`uuid`
        LEFT JOIN feed_like C
        ON A.feed_id = C.feed_id
        WHERE A.feed_id = #{feedId};
    </select>

    <update id="updFeed">
        UPDATE feed
        <set>
            <if test="title !=null and title !='' ">
                title = #{title}
            </if>
            <if test="content !=null and content !='' ">
                ,content = #{content}
            </if>
        </set>
        WHERE feed_id =#{feedId}
        AND uuid = #{uuid}
    </update>

    <update id="delFeed">
        UPDATE feed
        SET `status` = 1
        WHERE feed_id = #{feedId}
        AND uuid = #{uuid}
    </update>

    <update id="updFeedHits">
        UPDATE feed
        SET hits = hits + 1
        WHERE feed_id  = #{feedId};
    </update>

    <insert id="insFeedHits">
        INSERT INTO feed_hits (uuid, feed_id)
        VALUES (#{uuid}, #{feedId})
        ON DUPLICATE KEY UPDATE
        updated_at = NOW()
    </insert>


</mapper>