<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modir.user.UserMapper">

    <insert id="InsUser">
        INSERT INTO `user` (`uuid`, `username`, `email`)
        VALUES (#{uuid}, #{userName, jdbcType=VARCHAR}, #{email})
    </insert>

    <select id="sellUser">
        SELECT `uuid`, username, email
        FROM `user`
    </select>

    <select id="countUserByUuid" resultType="int">
        SELECT COUNT(*) FROM user WHERE uuid = #{uuId}
    </select>
</mapper>